body {
    margin: 0px;
    font-family:  Calibri;
}

.main {
    background-image: url("../images/food.png"), url("../images/abstract.png");
    background-size:  50% ,contain;
    background-repeat: no-repeat;
    background-position: left 88% top 70%, right top;
    padding-left: 120px;
    padding-top: 15px;
    height: 750px;
}

.menu {
    display: inline-block;
}

.menu a {
    margin-right: 40px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

#home {
    color: #d31b27;
}

.logo {
    font-size: 35px;
    font-weight: bold;
    display: inline-block;
    margin-right: 120px;
}

.letters {
    color: #d31b27;
}

.imgsMenu {
    display: inline-block;
    margin-left: 20%;
}

.imgsMenu a {
    margin-left: 80px;
    text-decoration: none;
}

.headAndBtn {
    margin-top: 150px;
}

.head {
    border-left: 3px solid #d31b27;
    padding: 0 0 15px 30px;
}

.head h1 {
    font-size: 65px;
    margin-bottom: 20px;
    font-family: Cambria;
}

.head p {
    font-size: 30px;
    margin: 0;
}

.border {
    border-left: 3px solid #d31b27;
    height: 25px;
    margin-top: 20px;
}

.btns {
    padding-left: 30px;
    margin-top: 15px;
}

.a1, .a2 {
    border-radius: 30px;
    padding: 14px 30px;
    text-decoration: none;
    margin-right: 6px;
    font-size: 20px;
}

.a1 {
    background-color: #d31b27;
    color: white;
}

.a2 {
    background-color: #f2f2f2;
    color: gray;
}
